@import "tailwindcss";

@theme {
  --color-ivory: #F9F8F6;
  --color-dark-green: #1A2F24;
  --color-leaf: #4CAF50;
  
  --color-background: var(--color-ivory);
  --color-foreground: var(--color-dark-green);
  
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-leaf selection:text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-pretty {
    text-wrap: pretty;
  }
}
